.differenc {
  background-image: url("../images/hubspot-solutions-partner-canada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  display: flex;
  margin-top: 40px;
}
.differenc__text {
  width: 50%;
  margin: 100px 20px;
}
.differenc__text-slogan {
  color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
}
.differenc__text-title {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  color: #fff;
}
.differenc__text-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .differenc {
    background-image: none;
    background-color: #d25658;
  }
  .differenc__text {
    width: 100%;
    margin: 100px 0;
  }
  .differenc__text-title {
    font-size: 30px;
    padding: 0 20px;
  }
  .differenc__text-slogan {
    font-size: 16px;
    padding: 0 20px;
  }
  .differenc__text-subtitle {
    font-size: 16px;
    padding: 0 20px;
  }
  .differenc__text-charter {
    padding: 0 20px;
    width: 260px;
  }
}
