.interview {
  background-image: url("../images/hubspot-quote.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 60px 0px;
}
.container {
}
.interview__row {
  display: flex;
}
.interview__left {
  max-width: 48%;
  padding: 80px 20px 0 20px;
}
.left__text {
}
.left__text-slogan {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.left__text-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 38px;
  line-height: 48px;
  color: #fff;
  margin: 0 0 20px;
}
.left__text-subtitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.interview-form {
  margin: 50px 20px 30px 20px;
  max-width: 550px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #e7e8f1;
  border-radius: 36px;
}
.interview-form__name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 21px;
  margin-bottom: 20px;
  border: 1px solid #e7e8f1;
  color: #62668a;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.interview-form__comments {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 21px;
  margin-bottom: 30px;
  border: 1px solid #e7e8f1;
  color: #62668a;
  border-radius: 10px;
  box-sizing: border-box;
}
.interview-form__button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin: 25px 0;
  background-color: #552768;
  border: 0 solid #1f2559;
  border-radius: 12px;
  color: #fff;
  padding: 20px 28px;
  transition-duration: 0.3s;
  &:hover {
    background-color: brown;
    transform: scale(1.1);
  }
}
.interview-form__inner {
  display: flex;
}
.interview-form__item + .interview-form__item {
  margin-left: 10px;
}
.interview-form__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .interview__row {
    flex-direction: column;
  }
  .interview__left {
    max-width: 100%;
    padding: 0 20px;
  }
  .interview-form__inner {
    flex-direction: column;
  }
  .interview-form__item + .interview-form__item {
    margin-left: 0;
  }
}
