.differenc {
  background-image: url("../images/hubspot-solutions-partner-canada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 550px;
  display: flex;
  margin-top: 40px;
}
.differenc__text {
  width: 50%;
}
.differenc__text-slogan {
  margin-top: 100px;
  color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.differenc__text-title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: #fff;
}
.differenc__text-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .differenc__text-slogan {
    margin-top: 50px;
  }
}
