.reviews {
  background: url(../images/Layer\ 48.png) no-repeat;
  width: 100%;
  height: 700px;
  margin-top: -90px;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}
.container {
}
.reviews__text {
  text-align: center;
}
.reviews__text-slogan {
  color: #fff;
  font-family: Inter Tight, sans-serif;
  font-size: 18px;
  margin-top: 100px;
  padding-top: 60px;
}
.reviews__text-title {
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-size: 38px;
  line-height: 48px;
  color: #fff;
}
.reviews__about-client {
  display: flex;
  width: 1000px;
  height: 340px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.reviews__about-client__photo {
}
.client__photo {
  width: 280px;
  height: 320px;
  border-radius: 40px;
  padding-right: 20px;
}
.reviews__about__title {
  position: relative;
}
.reviews__about-client__title {
  color: #552768;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  line-height: 38px;
}
.reviews__about-client__subtitle {
  color: #62668a;
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
.reviews__about-client__name {
}
.reviews__about-client__slogan {
}
.reviews__about-client__logo {
}
.client__logo {
  width: 290px;
  height: 70px;
  position: absolute;
  bottom: 25px;
  right: 0;
}
.reviews__button-next {
  padding: 19px 23px;
  background: #ffffff;
  border: 1px solid #f4f4f9;
  border-radius: 16px;
  font-size: 28px;
  transition-duration: 0.3s;
  &:hover {
    background-color: #552768;
    transform: scale(1.1);
    color: #fff;
  }
}
.reviews__button {
  display: flex;
}
