.client {
}
.container {
}
.client__header {
  margin-top: 40px;
  text-align: center;
}
.client__header-text {
}
.client__text-slogan {
  color: #552768;
  font-family: Inter Tight, sans-serif;
  font-size: 18px;
}
.client__text-title {
  color: #552768;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 38px;
  line-height: 48px;
}
.client__list {
  display: flex;
  margin-bottom: 40px;
}
