.interview {
  background-image: url("../images/hubspot-quote.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  padding: 60px 0px;
}
.container {
}
.interview__row {
  display: flex;
}
.interview__left {
  max-width: 48%;
  padding: 80px 20px 0 20px;
}
.left__text {
}
.left__text-slogan {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.left__text-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 38px;
  line-height: 48px;
  color: #fff;
  margin: 0 0 20px;
}
.left__text-subtitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.interview__right {
  margin-top: 50px;
  min-width: 550px;
  background-color: #ffffff;
  border: 1px solid #e7e8f1;
  border-radius: 36px;
}
.interview-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}
.interview-form__name {
  max-width: 230px;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 21px;
  margin-bottom: 20px;
  border: 1px solid #e7e8f1;
  color: #62668a;
  border-radius: 10px;
}
.interview-form__comments {
  min-width: 500px;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 21px;
  margin-bottom: 30px;
  border: 1px solid #e7e8f1;
  color: #62668a;
  border-radius: 10px;
}
.interview-form__button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin: 25px 0;
  background-color: #552768;
  border: 0 solid #1f2559;
  border-radius: 12px;
  color: #fff;
  padding: 20px 28px;
  transition-duration: 0.3s;
  &:hover {
    background-color: brown;
    transform: scale(1.1);
  }
}
