.partner {
  background-image: url("../images/hubspot-development.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  padding: 140px 0px 140px 0px;
}
.container {
}
.partner__wraper {
  display: flex;
}
.partner__text {
  width: 40%;
  margin-left: 640px;
}
.partner__texts-slogan {
  color: #fff;
  font-family: Inter Tight, sans-serif;
  font-size: 18px;
}
.partner__texts-title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 38px;
  line-height: 48px;
  margin-top: 15px;
}
.partner__text-subtitle {
  color: #fff;
  margin-bottom: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
}
.partner__text-button {
  color: #fff;
  width: 260px;
  text-align: center;
  background-color: #d25658;
  border: 0 solid #d25658;
  border-radius: 10px;
  padding: 20px 28px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
    background-color: #e7090c;
  }
}
