.services {
  width: 100%;
  background-color: rgba(250, 250, 252, 1);
}
.container {
}
.services__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 30px;
}
.services__text {
  max-width: 45%;
}
.services__text-slogan {
  color: #552768;
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
}
.services__text-title {
  color: #552768;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}
.services__text__subtitle {
  max-width: 45%;
}
.services__text-subtitle-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #552768;
  margin-left: -25px;
}
.services__column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__column-column {
  margin: 3px;
  border: 1px solid #f4f4f9;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.services__column-column-icon {
  margin-top: 20px;
  max-width: 345px;
}
.services__column-column-title {
  font-size: 24px;
  line-height: 34px;
  width: 345px;
}
.services__column-column-subtitle {
  width: 345px;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.column-icon {
  border-radius: 20px;
}
.services__button {
  margin: 20px 0 0;
  padding-bottom: 50px;
}
.services__header-button {
  margin: 0 auto;
  background-color: #d25658;
  border: 0px solid#d25658;
  color: #fff;
  padding: 20px 28px;
  width: 260px;
  border-radius: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
    background-color: #e7090c;
  }
}
@media screen and (max-width: 1180px) {
  .services__column {
    justify-content: center;
  }
  .services__header {
    margin: 50px 30px 0 30px;
  }
}
@media screen and (max-width: 800px) {
  .services__header {
    flex-direction: column;
    align-items: center;
  }
  .services__text {
    max-width: 100%;
  }
  .services__text__subtitle {
    max-width: 100%;
    margin-left: 30px;
  }
  .services__column-column-icon {
    margin-top: 20px;
    max-width: 100%;
  }
  .services__column-column-title {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
  .services__column-column-subtitle {
    width: 100%;
    font-size: 16px;
  }
  .services__column-column {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .services__header-button {
    width: 199px;
    padding: 20px 10px;
    font-size: 16px;
  }
}
